{% extends "layout.html" %}

{% block container %}

<div class="max-w-screen-xl mx-auto p-4 mt-8">
    <h1 class="text-3xl font-bold mb-6 text-gray-800">Lista de Alumnos</h1>

    <div class="mb-4">
        <a href="{{ url_for('registrar_alumnos') }}"
            class="flex items-center justify-center w-full text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-3 focus:outline-none transition-colors duration-200">
            <svg class="w-5 h-5 mr-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                viewBox="0 0 24 24">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M12 5v14M5 12h14" />
            </svg>
            Nuevo Alumno
        </a>
    </div>

    <div class="relative overflow-x-auto shadow-md sm:rounded-lg mb-20">
        <table class="w-full text-sm text-left rtl:text-right text-gray-500">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50">
                <tr>
                    <th scope="col" class="px-6 py-3">Nombre</th>
                    <th scope="col" class="px-6 py-3">Apellido</th>
                    <th scope="col" class="px-6 py-3">Email</th>
                    <th scope="col" class="px-6 py-3">Creado</th>
                    <th scope="col" class="px-6 py-3 text-center">Editar</th>
                    <th scope="col" class="px-6 py-3 text-center">Detalles</th>
                    <th scope="col" class="px-6 py-3 text-center">Eliminar</th>
                </tr>
            </thead>
            <tbody>
                {% for alum in alumnos %}
                <tr class="odd:bg-white even:bg-gray-50 border-b">

                    <td class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
                        {{ alum.nombre }}
                    </td>
                    <td class="px-6 py-4">
                        {{ alum.apaterno }}
                    </td>
                    <td class="px-6 py-4">
                        {{ alum.email }}
                    </td>
                    <td class="px-6 py-4">
                        {{ alum.created_date }}
                    </td>

                    <td class="px-6 py-4 text-center">
                        <a href="{{ url_for('modificar', id=alum.id) }}"
                            class="font-medium text-blue-600 hover:text-white border border-blue-600 hover:bg-blue-600 focus:ring-4 focus:outline-none focus:ring-blue-300 rounded-lg text-xs px-3 py-2 text-center inline-flex items-center transition-all duration-200">
                            Editar
                        </a>
                    </td>

                    <td class="px-6 py-4 text-center">
                        <a href="{{ url_for('detalles', id=alum.id) }}"
                            class="font-medium text-yellow-400 hover:text-white border border-yellow-400 hover:bg-yellow-500 focus:ring-4 focus:outline-none focus:ring-yellow-300 rounded-lg text-xs px-3 py-2 text-center inline-flex items-center transition-all duration-200">
                            Detalles
                        </a>
                    </td>

                    <td class="px-6 py-4 text-center">
                        <a href="#"
                            class="font-medium text-red-600 hover:text-white border border-red-600 hover:bg-red-600 focus:ring-4 focus:outline-none focus:ring-red-300 rounded-lg text-xs px-3 py-2 text-center inline-flex items-center transition-all duration-200">
                            Eliminar
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}