<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flowbite Flask</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='dist/output.css') }}">
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
    <nav class="bg-white border-gray-200 px-2 sm:px-4 py-2.5 rounded-sm dark:bg-gray-900 border-b dark:border-gray-700">
        <div class="container flex flex-wrap items-center justify-between mx-auto">
            <a href="{{ url_for('index') }}" class="flex items-center">
                <img src="{{ url_for('static', filename='img/alumno.png') }}" class="rounded-2xl h-6 mr-3 sm:h-9"
                    alt="Logo">
                <span class="self-center text-xl font-semibold whitespace-nowrap dark:text-white">Flask IDGS</span>
            </a>
            <div class="flex md:order-2">
                <button type="button"
                    class="text-white bg-blue-700 hover:bg-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600">Cerrar
                    Sesión</button>
            </div>
            <div class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1" id="navbar-cta">
                <ul
                    class="flex flex-col p-4 mt-4 border border-gray-100 rounded-lg bg-gray-50 md:flex-row md:space-x-8 md:mt-0 md:text-sm md:font-medium md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900">
                    <li>
                        <a href="{{ url_for('index') }}"
                            class="block py-2 pl-3 pr-4 text-gray-700 hover:text-blue-700 md:p-0 dark:text-white">Inicio</a>
                    </li>
                    <li>
                        <a href="{{ url_for('alumnos.index') }}"
                            class="block py-2 pl-3 pr-4 text-gray-700 hover:text-blue-700 md:p-0 dark:text-gray-400">Alumnos</a>
                    </li>
                    <li>
                        <a href="{{ url_for('maestros.index') }}"
                            class="block py-2 pl-3 pr-4 text-gray-700 hover:text-blue-700 md:p-0 dark:text-gray-400">Maestros</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="flex items-center justify-center min-h-[80vh]">
        {% block container %}
        {% endblock %}
    </div>

    <script src="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.js"></script>
</body>

</html>